In [ ]:
--Create Departments table:
CREATE TABLE Departments (
    dept_no VARCHAR(4) PRIMARY KEY,
    dept_name VARCHAR(40) NOT NULL
);

-- Create Employees table:
CREATE TABLE Employees (
    emp_no INT PRIMARY KEY,
    last_name VARCHAR(20) NOT NULL,
    first_name VARCHAR(20) NOT NULL,
    sex CHAR(1) CHECK (sex IN ('M', 'F')),
    hire_date DATE NOT NULL
);

-- Create Salaries table:
CREATE TABLE Salaries (
    emp_no INT,
    salary DECIMAL(8, 2) NOT NULL,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL,
    PRIMARY KEY (emp_no, from_date),
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no)
);

-- Create Titles table:
CREATE TABLE Titles (
    emp_no INT,
    title VARCHAR(50) NOT NULL,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL,
    PRIMARY KEY (emp_no, from_date),
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no)
);

-- Create Dept_Managers table:
CREATE TABLE Dept_Managers (
    dept_no VARCHAR(4),
    emp_no INT,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL,
    PRIMARY KEY (dept_no, emp_no, from_date),
    FOREIGN KEY (dept_no) REFERENCES Departments(dept_no),
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no)
);

-- Create Dept_Employees table:
CREATE TABLE Dept_Employees (
    dept_no VARCHAR(4),
    emp_no INT,
    from_date DATE NOT NULL,
    to_date DATE NOT NULL,
    PRIMARY KEY (dept_no, emp_no, from_date),
    FOREIGN KEY (dept_no) REFERENCES Departments(dept_no),
    FOREIGN KEY (emp_no) REFERENCES Employees(emp_no)
);

In [ ]:
-- Import Employees data
COPY Employees FROM '/path/to/employees.csv' DELIMITER ',' CSV HEADER;

-- Import Departments data
COPY Departments FROM '/path/to/departments.csv' DELIMITER ',' CSV HEADER;

-- Import Salaries data
COPY Salaries FROM '/path/to/salaries.csv' DELIMITER ',' CSV HEADER;

-- Import Titles data
COPY Titles FROM '/path/to/titles.csv' DELIMITER ',' CSV HEADER;

-- Import Dept_Managers data
COPY Dept_Managers FROM '/path/to/dept_managers.csv' DELIMITER ',' CSV HEADER;

-- Import Dept_Employees data
COPY Dept_Employees FROM '/path/to/dept_employees.csv' DELIMITER ',' CSV HEADER;

In [ ]:
SELECT e.emp_no, e.last_name, e.first_name, e.sex, s.salary
FROM Employees e
JOIN Salaries s ON e.emp_no = s.emp_no
WHERE s.to_date = '9999-01-01';  -- Assuming '9999-01-01' indicates the current salary


SELECT first_name, last_name, hire_date
FROM Employees
WHERE EXTRACT(YEAR FROM hire_date) = 1986;


SELECT d.dept_no, d.dept_name, e.emp_no, e.last_name, e.first_name
FROM Dept_Managers dm
JOIN Departments d ON dm.dept_no = d.dept_no
JOIN Employees e ON dm.emp_no = e.emp_no
WHERE dm.to_date = '9999-01-01';  -- Assuming '9999-01-01' indicates the current manager


SELECT de.dept_no, e.emp_no, e.last_name, e.first_name, d.dept_name
FROM Dept_Employees de
JOIN Employees e ON de.emp_no = e.emp_no
JOIN Departments d ON de.dept_no = d.dept_no
WHERE de.to_date = '9999-01-01';  -- Assuming '9999-01-01' indicates the current department


SELECT first_name, last_name, sex
FROM Employees
WHERE first_name = 'Hercules' AND last_name LIKE 'B%';


SELECT e.emp_no, e.last_name, e.first_name
FROM Dept_Employees de
JOIN Departments d ON de.dept_no = d.dept_no
JOIN Employees e ON de.emp_no = e.emp_no
WHERE d.dept_name = 'Sales' AND de.to_date = '9999-01-01';


SELECT e.emp_no, e.last_name, e.first_name, d.dept_name
FROM Dept_Employees de
JOIN Departments d ON de.dept_no = d.dept_no
JOIN Employees e ON de.emp_no = e.emp_no
WHERE d.dept_name IN ('Sales', 'Development') AND de.to_date = '9999-01-01';


SELECT last_name, COUNT(*) AS count
FROM Employees
GROUP BY last_name
ORDER BY count DESC;

In [ ]:
psql -U username -d database -c "\copy Employees FROM 'path/to/employees.csv' DELIMITER ',' CSV HEADER"
psql -U username -d database -c "\copy Departments FROM 'path/to/departments.csv' DELIMITER ',' CSV HEADER"
psql -U username -d database -c "\copy Salaries FROM 'path/to/salaries.csv' DELIMITER ',' CSV HEADER"
psql -U username -d database -c "\copy Titles FROM 'path/to/titles.csv' DELIMITER ',' CSV HEADER"
psql -U username -d database -c "\copy Dept_Managers FROM 'path/to/dept_managers.csv' DELIMITER ',' CSV HEADER"
psql -U username -d database -c "\copy Dept_Employees FROM 'path/to/dept_employees.csv' DELIMITER ',' CSV HEADER"

In [ ]:
git add .
git commit -m "Added table schemas and queries"
git commit -m "Completed data import and analysis queries"
git commit -m "Added ERD, SQL files, and updated README"
git push origin main